.blog-post {
    display: flex;
    flex-direction: row;
    margin-block: 4rem;
}

.blog-image {
    max-width: 50%;
    object-fit: cover;
}

.blog-text {
    padding: 2rem;
    background-color: rgb(239, 239, 239);
    font-family: "Santral";
    text-align: justify;
}

.blog-title {
    font-size: 2rem;
    font-family: "Gotham";
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

.blog-date {
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}

@media only screen and (max-width: 992px) {
    .blog-post {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .blog-image {
        max-width: 100%;
        max-height: 300px;
    }
}