
/* Bootstrap overrides */
.card {
    font-family: "Gotham";
    border: 2px solid black;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
    background-color: black;
}

.row {
    padding-bottom: 3.5rem;
}

.container {
    margin-top: 3rem;
}

.gem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 40px;
    column-gap: 40px;
}

@media only screen and (min-width: 1500px) {
    .gem-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 60px;
        column-gap: 60px;
    }
}