
/* Bootstrap overrides */
.card {
    background-color: black;
    border: 0px;
    font-weight: 300;
}

.row {
    padding-bottom: 3.5rem;
}

.container {
    margin-top: 3rem;
}

.gem-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1vw 10px;
}